[project]
name = "language_tool_python"
version = "2.9.5"
requires-python = ">=3.9"
description = "Checks grammar using LanguageTool."
readme = { file = "README.md", content-type = "text/markdown" }
license = "GPL-3.0-only"
license-files = ["LICENSE"]
authors = [
    { name = "Jack Morris", email = "jxmorris12@gmail.com" }
]
maintainers = [
    { name = "mdevolde", email = "martin.devolder2@gmail.com" }
]
urls = { Repository = "https://github.com/jxmorris12/language_tool_python.git" }

dependencies = [
    "requests",
    "tqdm",
    "psutil",
    "toml"
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-xdist",
    "pytest-cov",
    "pytest-runner"
]

[project.scripts]
language_tool_python = "language_tool_python.__main__:main"

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.ruff.lint]
select = ["F", "W", "I", "B", "SIM", "RET", "Q"]
